body {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #212121;
    position: relative;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    color: #212121;
}

ul, li {
    list-style-type: none;
}


/*========================
        Common styles 
==========================*/

.title {
    margin-bottom: 15px;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000;
}

.title::before {
    content: url(/img/about/border.png);
    width: 140px;
    height: 6px;
    position: absolute;
    margin-top: 25px;
    left: calc(50% - 140px / 2);
}

.text {
    font-size: 16px;
    font-weight: 400;
    color: #212121;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 50px;
    color: #fff;
    border: 1px solid transparent;
    background-color: #212121;
    font-weight: 500;
    text-transform: uppercase;
    box-shadow: 0px 0px 2px 1px rgba(33,33,33,1);
    transition: all 0.3s ease;
}

.btn:hover {
    transition: all 0.3s ease;
    box-shadow: 0px 0px 8px 1px rgba(33,33,33,1);
}

.btn--white {
    width: 170px;
    background-color: #fff;
    color: #212121;
}

/*========================
        Container 
==========================*/

.container {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    padding: 0 15px;
}

/*========================
        Header 
==========================*/

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.header__inner {
    margin: 30px auto 0;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1320px;
}

.logo {
    width: 114px;
    height: 70px;
    text-align: center;
    border: 2px solid transparent;
    transition: all 0.2s ease;
}

.logo:hover {
    border: 2px solid #212121;
    transition: all 0.7s ease;
}

.logo__title {
    font-size: 45px;
    font-weight: 700;
}

.logo__subtitle {
    font-size: 10px;
    font-weight: 400;
}

.language {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    top: 103px;
}

.language a {
    color: #828282;
    text-decoration: none;
}

.nav {
    padding-bottom: 30px;
    font-size: 18px;
}

.nav ul {
    display: flex;
    justify-content: center;
}

.nav__item {
    margin-right: 40px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    display: inline-block;
    position: relative;
    transition: all .2s ease;
}

.nav__link:hover {
    transition: all .2s ease;
}

.nav__link::after {
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    background-color: #212121;
    opacity: 0;
    position: absolute;
    top: 25px;
    left: 0;
    z-index: 1;
    transition: .2s linear;
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}

/* MOBILE NAV */

.mobile-nav {
    display: none;
    text-align: right;
}

.nav-toggle {
    margin: 15px 0;
    padding: 10px;
    position: relative;
    text-align: right;
    background: transparent;
    border: 1px solid transparent;
    transform: translate(-50%, -50%);
}
  
.nav-toggle:focus {
    outline-width: 0;
}
  
.nav-toggle [class*='bar-'] {
    background-color: #000;
    display: block;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .2s ease all;
    transition: .2s ease all;
    border-radius: 3px;
    height: 3px;
    width: 35px;
    margin-bottom: 5px;
}
  
.nav-toggle .bar-bot {
    margin-bottom: 0;
}
  
.opened .bar-top {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 15% 15%;
    transform-origin: 15% 15%;
}

.opened .bar-mid {
    opacity: 0;
}

.opened .bar-bot {
    -webkit-transform: rotate(45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 15% 95%;
    transform-origin: 15% 95%;
}

.no-scroll {
    overflow: hidden;
}

/*========================
        Home 
==========================*/

.home__inner {
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    min-height: 800px;
    max-width: 1320px;
}

.home__left-block {
    margin-top: 45px;
    width: 55%;
}

.home__content {
    margin-top: 250px;
    position: relative;
}

.home__content::before {
    left: -737px;
    content: "";
    position: absolute;
    top: -60%;
    width: 960px;
    height: 495px;
    background-color: transparent;
    border: 17px solid #e8e8e8;
}

.home__title {
    margin-bottom: 15px;
    position: relative;
    font-size: 46px;
    font-weight: 600;
    text-transform: uppercase;
}

.home__subtitle {
    margin-bottom: 30px;
    position: relative;
    font-size: 22px;
}

.home__buttons {
    display: flex;
    justify-content: space-between;
    width: 340px;
    position: relative;
}

.home__right-block {
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    background-color: #dddddd;
    min-height: 800px;
}

.home__right-block::before {
    content: "";
    position: absolute;
    width: 230px;
    height: 380px;
    background-color: transparent;
    border: 13px solid #fff;
    border-right: 0;
    right: 0px;
    top: 280px;
}

.home__block-inner {
    margin-top: 43px;
    position: relative;
    background: url(../img/header/bg.png) no-repeat;
    background-position: left top;
    height: 756px;
}

/*========================
        About 
==========================*/

.about {
    height: 783px;
    padding-top: 470px;
}

.about__inner {
    position: relative;
}

.about__card {
    text-align: center;
    width: 100%;
    height: 402px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.about__card .title::before {
    width: 90px;
    left: calc(50% - 90px / 2);
}

.about__card-front .title::before {
    margin-top: 23px;
}

.about__card-top {
    padding-top: 20px;
}

.about__card .about__card-top,
.about__card .about__card-front {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transition: .4s ease-in-out;
    backface-visibility: hidden;
    perspective: 1000px;
}

.about__card .about__card-top {
    background-color:#dddddd;
    color:#fff;
    transform: rotateX(90deg) translateY(-50%);
    transform-origin: top center;
}

.about__card .about__card-front {
    background-color:#fff;
    color:#1893D7;
    transform-origin: bottom center;
    transform: rotateX(0deg) translateY(0%);
}

.about__card:hover .about__card-top {
    transform: rotateX(0deg) translateY(0%);
}
.about__card:hover .about__card-front {
    transform: rotateX(90deg) translateY(50%);
}

.card__content-front {
    -webkit-box-shadow: 0px 0px 25px 0px #000000; 
    box-shadow: 0px 0px 25px 0px #000000;
}

.card__content {
    padding: 60px 200px;
    margin: 0 auto;
    width: 868px;
    align-items: center;
}

.about__img {
    margin-bottom: 30px;
    width: 60px;
    height: 6px;
}

.about__text {
    margin-top: 35px;
}

.about__text span {
    font-weight: 700;
}

.about__btn {
    margin: 35px auto 0 auto;
    width: 210px;
}


/*========================
        Skills 
==========================*/

.skills__inner {
    text-align: center;
}

.skills__content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 65px;
}

.skills__item {
    width: 25%;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.skills__item:hover .skill__img {
    filter: grayscale(0%);
    transform: scale(1.05);
    transition: all 0.2s ease;
}

.skills__item:hover .skill__title {
    color: #000;
}

.skills__item:hover .fa-star {
    color: #ffd800;
}

.skills__item:hover .grey-star {
    color: #dfdfdf;
}

.skill__img {
    width: 90px;
    height: 90px;
    filter: grayscale(100%);
    transition: all 0.2s ease;
}

.skill__img-figma {
    width: 60px;
}

.skill__title {
    margin-top: 22px;
    color: #828282;
    font-size: 18px;
    font-weight: 700;
}

.skill__rank {
    margin-top: 5px;
    color: #828282;
    font-size: 15px;
    font-weight: 500;
}

.skill__experience {
    margin-top: 30px;
}

.skill__experience {
    font-size: 20px;
    color: #212121;
}

.skill__experience .grey-star {
    color: #dfdfdf;
}


/*========================
        Portfolio 
==========================*/

.portfolio {
    margin-top: 100px;
}

.portfolio__inner {
    margin-bottom: 50px;
    text-align: center;
}

.portfolio__inner .title::before {
    width: 147px;
}

.portfolio__item {
    margin-bottom: 90px;
}

.hidden {
    display: none;
}

.noContent {
    display: none;
}

.portfolio__overlay-img {
    margin-bottom: 40px;
}

.portfolio__overlay {
    display: block;
    margin: 55px 0 40px;
    height: 450px;
    max-width: 100%;
    background-color: #000;
    overflow: hidden;
    transition: all .4s ease;
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.50);
}

.portfolio__overlay:nth-child(odd) {
    width: 950px;
}

.portfolio__overlay:hover {
    transform: scale(1.05);
    transition: all .4s ease;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.50);
}

.overlay__title {
    font-size: 22px;
    font-weight: 700;
    text-transform: none;
    text-decoration: underline;
    color: #212121;
    opacity: .8;
}

.overlay__title:hover {
    color: #000;
    opacity: 1;
}

.overlay__link {
    margin-right: 7px;
}

.overlay__icon {
    width: 30px;
    height: 30px;
    transition: all 0.1s ease;
}

.overlay__icon:hover {
    transform: scale(1.09);
    transition: all 0.1s ease;
}

.overlay__links {
    margin-top: 10px;
}

.overlay__link:last-child {
    margin-right: 0;
}

.overlay__links p {
    margin-bottom: 10px;
    color: #000;
    font-size: 18px;
    font-weight: 500;
}

.portfolio__btn {
    margin: 0 auto;
    width: 190px;
}

/*========================
        Footer 
==========================*/

.footer {
    padding: 75px 0;
    background-color: #dddddd;
}

.footer__inner {
    margin: 0 auto;
    text-align: center;
}

.footer__inner i {
    margin-top: 25px;
}

.footer__inner .title::before {
    width: 124px;
    left: calc(50% - 124px / 2);
}

.footer__content {
    margin-top: 40px;
}

.footer__content a {
    margin: 0 auto 45px;
    width: 190px;
}

.footer__text {
    font-size: 22px;
}

.footer__icon-arrow {
    margin-bottom: 30px;
    font-size: 30px;
    transform: rotate(180deg);
}

.footer__socials {
    width: 200px;
    margin: 0 auto;
}

.footer__social-icon {
    margin-right: 45px;
}

.footer__social-icon:last-child {
    margin-right: 0;
}

.footer__social-icon i {
    font-size: 35px;
}

.footer__social-icon, .footer__social-icon:hover {
    transition: all 0.2s ease;
}

.footer__social-icon:last-child i {
    margin-right: 0;
}

.footer__social-icon:first-child:hover {
    color: rgb(252, 0, 155);
}

.footer__social-icon:nth-child(even):hover {
    color: rgb(0, 109, 252);
}

.footer__social-icon:last-child:hover {
    color: rgb(83, 83, 83);
}

.scroll-up {
    display: none;
}

a.scroll-up {
    font-size: 35px;
    right: 19px;
    bottom: 19px;
    position: fixed;
    opacity: 0.3;
    z-index: 2000;
    transition: all 0.3s ease;
}

a.scroll-up:hover {
    opacity: 0.5;
    transition: all 0.3s ease;
}

/*========================
        Media 
==========================*/



@media (max-width: 1300px) {
    .nav__item {
        margin-right: 25px;
    }
}

@media (max-width: 1050px) {
    .nav__item {
        margin-right: 15px;
    }

    .title {
        font-size: 40px;
    }
}

@media (max-width: 991px) {
    .text {
        font-size: 23px;
    }

    .nav {

        display: none;
        flex-direction: column;
        width: 125px;
        position: absolute;
        text-align: right;
    }

    .nav.show {
        padding-top: 70px;
        display: flex;
        top: 0;
        right: 0;
        width: 100vw;
        height: 225vw;
        font-size: 30px;
        background-color: #dddddd;
        text-align: center;
        opacity: 0.95;
    }

    .nav_link {
        padding: 9px 15px;
        margin-right: 0;
    }

    .mobile-nav {
        display: block;
    }

    .nav ul {
        flex-direction: column;
    }

    .nav__link::after {
        display: none;
    }
    
    .nav__item {
        margin-right: 0px;
        padding-bottom: 5px;
    }

    .about__card-top {
        padding-top: 0px;
    }

    .card__content {
        width: 720px;
        padding: 40px 65px;
    }

    .skill__img {
        filter: grayscale(0);
    }

    .portfolio__overlay:nth-child(odd) {
        width: 750px; 
    }

    .portfolio__overlay {
        margin: 55px auto 40px;
        height: 410px;
    }

    a.scroll-up {
        right: 50px;
    }

    .skill__title {
        font-size: 24px;
    }

    .skill__rank {
        font-size: 18px;
    }

    .skills__item .fa-star {
        color: #ffd800;
    }

    .skill__experience .grey-star {
        color: #dfdfdf;
    }
}

@media (max-width: 849px) {
    .header__aside-inner {
        background: none;
    }

    a.scroll-up {
        right: 15px;
    }

    .language {
        bottom: 447px;
    }
}

@media (max-width: 767px) {
    .nav__link {
        font-size: 22px;
        padding-bottom: 4px;
    }
    
    .header__sidebar {
        width: 80%;
    }

    .home__content::before {
        top: -20%;
    }

    .home__right-block::before {
        display: none;
    }

    .home__buttons {
        display: block;
    }

    .home__buttons a {
        margin-bottom: 15px;
        width: 170px;
    }

    .about {
        padding-top: 320px;
        height: 690px;
    }

    .skills__item {
        width: 50%;
    }

    .card__content {
        width: 600px;
    }

    .overlay__title {
        font-size: 28px;
    }

    .overlay__links p {
        font-size: 22px;
    }

    .language {
        bottom: 515px;
    }
}

@media (max-width: 690px) {
    .nav-toggle {
        padding: 0px;
    }

    .home__block-inner {
        background: none;
    }
}

@media (max-width: 620px) {
    .card__content {
        padding: 25px 0px;
        width: 400px;
    }

    .home__right-block::before {
        display: none;
    }
    
    .portfolio__overlay {
        height: 325px;
    }

    a.scroll-up {
        right: 30px;
    }
}

@media (max-width: 560px) {
    .home__right-block {
        display: none;
    }

    .home__left-block {
        width: 100%;
    }

    .home__content::before {
        width: 1000px;
    }

    .portfolio__overlay {
        height: 285px;
    }

    .footer__content {
        margin: 45px auto;
        width: 300px;
    }
}

@media (max-width: 414px) {
    .home__inner {
        padding: 0 5px;
    }

    .about {
        height: 830px;
    }
    
    .about__card {
        height: 580px;
    }

    .card__content {
        padding: 85px 55px;
        width: 345px;
    }

    .skill__experience {
        display: none;
    }

    .portfolio__overlay {
        height: 220px;
    }

    .container {
        padding: 0 5px;
    }

    .home__buttons {
        width: auto;
    }

    .skill__title {
        font-size: 18px;
    }

    .footer__content {
        width: auto;
    }
}

@media (max-width: 350px) {
    .about {
        padding-top: 405px;
    }

    .about__card {
        height: 650px;
    }
    .card__content {
        width: 300px;
    }
}